@import "../utils/mixins";
@import "../utils/variables";
@import "../utils/animations";

.footer {
  height: 12rem;
  background-color: $color-black;
  color: $color-primary;

  &__link {
    text-decoration: underline;
    color: inherit;
    font-size: 2rem;

    &:hover {
      color: rgb(60, 99, 214);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;

    &--copyright,
    &--ownership {
      font-size: 1.8rem;
      padding: 1rem;
    }
  }
}
